

.forms{
    display: flex;
    justify-content: center;
    align-content: center;
}

.register_form {
    background-color: #3FBBC0FF ;
    width: 10cm;
    height: 18cm;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 1.5cm;
}

.form1 {
    margin-top: 1.5cm;
    color: white;
}

.btns{

    background-color: blue;
    color: white;
    border: none;
    border-radius: 10px;
    margin: 15px;


}


