/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
        font-family: 'Roboto', sans-serif;

}


/* Style for the cards */
.card {
    font-size: 16px;
    text-align: center;
    padding: 20px;
}

/* Headings */
.card h2 {
    font-size: 24px;
    font-weight: 700; /* Bold */
    color: #2ab7ca;
}

/* Paragraph text */
.card p {
    font-size: 14px;
    font-weight: 400; /* Normal */
    color: #555;
}

/* Buttons */
.card button {
    font-size: 14px;
    padding: 10px 15px;
    font-weight: 500;/*Medium*/
}

/* Header */
header {
    background: #3fbbc0;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Container Layout */
.container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

 .container1 .card h2 {
            font-family: "Roboto Light", sans-serif;
        }

/* Cards */
.card {
    background: white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.card h2 {
    color: #3fbbc0;
}

.card a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background: #3fbbc0;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.card a:hover {
    background: #3fbbc0;
}

/* Quiz Section */
.quiz {
    text-align: center;
    background: #fff;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.quiz button {
    padding: 10px 20px;
    border: none;
    background: #3fbbc0;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.quiz button:hover {
    background: #3fbbc0;
}

#quizResult {
    font-size: 18px;
    margin-top: 15px;
    font-weight:bold;
}