{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduWell - Login</title>
    <link rel="stylesheet" href="{% static 'assets/css/signup.css' %}">
      <link href="{% static 'assets/logo.jpg' %}" rel="icon">

     <style>
        body{
            background: url("{% static 'assets/img/gallery/gallery-1.jpg' %}");
            background-size: cover;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="left-panel">
            <h2>EduWell</h2>
{#          <img src="{% static 'assets/img/cropped_logo.png' %}" alt="">#}
        </div>
        <div class="right-panel">
            <h2>Login</h2>
            <form id="signupForm" action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button href="{% url 'homepage' %}" type="submit">Login</button>
            </form>
            <p>Create an account <a href="/signup/">Sign up</a></p>
            <p id="message"></p>
        </div>
    </div>
{#    <script src="script.js"></script>#}
</body>
</html>
